.vs/
.idea/
bin/
obj/
*.user
*.suo
*.log
*.slnx
arbol_proyecto.txt
dotnet_info.txt
paquetes_web.txt
artifacts/
Scoreboard.Web/wwwroot/uploads/jugadores/*
!Scoreboard.Web/wwwroot/uploads/jugadores/.gitkeep
Scoreboard.Web/wwwroot/uploads/equipos/*
!Scoreboard.Web/wwwroot/uploads/equipos/.gitkeep
